In [18]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
df=pd.read_csv(r'Spotify.csv')
df

,Unnamed: 0,Artist_Name,Genre,Followers,Album,Release date
0,0,Taylor Swift,['pop'],89729802,Speak Now (Taylor's Version),2023-07-07
1,1,Taylor Swift,['pop'],89729802,Midnights (The Til Dawn Edition),2023-05-26
2,2,Taylor Swift,['pop'],89729802,Midnights (3am Edition),2022-10-22
3,3,Taylor Swift,['pop'],89729802,Midnights,2022-10-21
4,4,Taylor Swift,['pop'],89729802,Red (Taylor's Version),2021-11-12
...,...,...,...,...,...,...
597,597,The Weeknd,"['canadian contemporary r&b', 'canadian pop', ...",73275053,Kiss Land,2013-09-10
598,598,The Weeknd,"['canadian contemporary r&b', 'canadian pop', ...",73275053,Trilogy,2012-11-13
599,599,The Weeknd,"['canadian contemporary r&b', 'canadian pop', ...",73275053,Echoes Of Silence (Original),2011-12-21
600,600,The Weeknd,"['canadian contemporary r&b', 'canadian pop', ...",73275053,Thursday (Original),2011-08-18
601,601,The Weeknd,"['canadian contemporary r&b', 'canadian pop', ...",73275053,House Of Balloons (Original),2011-03-21

In [20]:
df=df.drop(columns='Unnamed: 0')

In [21]:
df.describe()

          Followers
count  6.020000e+02
mean   3.904009e+07
std    3.040180e+07
min    7.175910e+05
25%    1.302600e+07
50%    2.902232e+07
75%    7.027498e+07
max    1.148078e+08

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Artist_Name   602 non-null    object
 1   Genre         602 non-null    object
 2   Followers     602 non-null    int64
 3   Album         602 non-null    object
 4   Release date  602 non-null    object
dtypes: int64(1), object(4)
memory usage: 23.6+ KB

In [7]:
df['Release date'] = pd.to_datetime(df['Release date'], format='%Y-%m-%d')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Artist_Name   602 non-null    object
 1   Genre         602 non-null    object
 2   Followers     602 non-null    int64
 3   Album         602 non-null    object
 4   Release date  602 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 23.6+ KB

In [8]:
df['Artist_Name'] = df['Artist_Name'].astype(str)
df['Album'] = df['Album'].astype(str)

In [9]:
df['Genre'] = df['Genre'].astype(str)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Artist_Name   602 non-null    object
 1   Genre         602 non-null    object
 2   Followers     602 non-null    int64
 3   Album         602 non-null    object
 4   Release date  602 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 23.6+ KB

In [14]:
# Create an empty dictionary to store genre counts
genre_count_dict = {}

# Create a DataFrame
l = list(df['Genre'].unique())
print(l)

c=pd.DataFrame(l)
c.columns=['Genre']
# Iterate through each row in the DataFrame and count genres
for row in c['Genre']:
    genres = eval(row)
    for genre in genres:
        if genre in genre_count_dict:
            genre_count_dict[genre] += 1
        else:
            genre_count_dict[genre] = 1

# Display the genre counts in the dictionary
for genre, count in genre_count_dict.items():
    print(f'{genre}: {count}')

["['pop']", "['k-pop', 'k-pop boy group', 'pop']", "['pop', 'singer-songwriter pop', 'uk pop']", "['canadian pop', 'pop', 'viral pop']", "['dance pop', 'pop']", "['pop', 'post-teen pop']", "['electro house']", "['brostep', 'edm', 'pop', 'progressive electro house']", "['boy band', 'pop']", "['r&b', 'soul']", "['filmi', 'modern bollywood']", "['dfw rap', 'melodic rap', 'pop', 'rap']", "['hip pop', 'pop', 'queens hip hop', 'rap']", "['desi hip hop', 'desi pop', 'punjabi hip hop', 'punjabi pop']", "['desi hip hop', 'filmi', 'tamil hip hop']", "['classic pakistani pop', 'filmi', 'modern bollywood', 'sufi']", "['alt z', 'pop', 'pov: indie']", "['gauze pop', 'indietronica', 'modern rock', 'pov: indie', 'shiver pop']", "['k-pop', 'k-pop girl group', 'pop']", "['art pop', 'pop']", "['k-pop']", "['pop', 'viral pop']", "['permanent wave', 'pop']", "['bedroom pop', 'pop', 'pov: indie']", "['latin hip hop', 'reggaeton', 'trap latino', 'urbano latino']", "['edm', 'electronic trap', 'pop', 'pop dance']", "['detroit hip hop', 'hip hop', 'rap']", "['anime', 'k-pop boy group']", "['indietronica', 'metropopolis', 'pop', 'uk pop']", "['k-pop', 'k-pop boy group']", "['k-pop girl group']", "['canadian pop', 'pop']", "['canadian hip hop', 'canadian pop', 'hip hop', 'pop rap', 'rap']", "['chicago rap', 'hip hop', 'rap']", "['pop', 'pop r&b']", "['lgbtq+ hip hop']", "['boy band', 'pop', 'post-teen pop', 'talent show']", "['piano rock', 'pop']", "['k-rap', 'korean old school hip hop']", "['desi emo rap', 'desi hip hop', 'desi pop', 'desi trap']", "['k-rap']", "['barbadian pop', 'pop', 'urban contemporary']", "['desi hip hop', 'desi pop', 'hindi indie', 'indian edm', 'indian indie']", "['hip hop', 'rap', 'slap house']", "['australian dance', 'australian pop', 'pop']", "['australian pop', 'pop', 'viral pop']", "['canadian contemporary r&b', 'canadian pop', 'pop']"]
pop: 26
k-pop: 4
k-pop boy group: 3
singer-songwriter pop: 1
uk pop: 2
canadian pop: 4
viral pop: 3
dance pop: 1
post-teen pop: 2
electro house: 1
brostep: 1
edm: 2
progressive electro house: 1
boy band: 2
r&b: 1
soul: 1
filmi: 3
modern bollywood: 2
dfw rap: 1
melodic rap: 1
rap: 6
hip pop: 1
queens hip hop: 1
desi hip hop: 4
desi pop: 3
punjabi hip hop: 1
punjabi pop: 1
tamil hip hop: 1
classic pakistani pop: 1
sufi: 1
alt z: 1
pov: indie: 3
gauze pop: 1
indietronica: 2
modern rock: 1
shiver pop: 1
k-pop girl group: 2
art pop: 1
permanent wave: 1
bedroom pop: 1
latin hip hop: 1
reggaeton: 1
trap latino: 1
urbano latino: 1
electronic trap: 1
pop dance: 1
detroit hip hop: 1
hip hop: 4
anime: 1
metropopolis: 1
canadian hip hop: 1
pop rap: 1
chicago rap: 1
pop r&b: 1
lgbtq+ hip hop: 1
talent show: 1
piano rock: 1
k-rap: 2
korean old school hip hop: 1
desi emo rap: 1
desi trap: 1
barbadian pop: 1
urban contemporary: 1
hindi indie: 1
indian edm: 1
indian indie: 1
slap house: 1
australian dance: 1
australian pop: 2
canadian contemporary r&b: 1

In [16]:
df = pd.DataFrame(list(genre_count_dict.items()), columns=['Genre', 'Count'])

# Display the DataFrame
print(df)

                        Genre  Count
0                         pop     26
1                       k-pop      4
2             k-pop boy group      3
3       singer-songwriter pop      1
4                      uk pop      2
..                        ...    ...
65               indian indie      1
66                 slap house      1
67           australian dance      1
68             australian pop      2
69  canadian contemporary r&b      1

[70 rows x 2 columns]

In [11]:
df.to_csv('clean_spoti_data.csv')

In [22]:
df1=pd.read_csv(r'clean_spoti_data.csv')
artist_popularity = df1.groupby('Artist_Name')['Followers'].max().sort_values(ascending=False)

In [25]:
artist_popularity=artist_popularity[:5]
artist_popularity

Artist_Name
Ed Sheeran       114807815
Ariana Grande     94156577
Arijit Singh      92796252
Taylor Swift      89729802
Billie Eilish     87760945
Name: Followers, dtype: int64

In [29]:
df2=pd.DataFrame(artist_popularity)
df2.reset_index()

     Artist_Name  Followers
0     Ed Sheeran  114807815
1  Ariana Grande   94156577
2   Arijit Singh   92796252
3   Taylor Swift   89729802
4  Billie Eilish   87760945

In [ ]:
ImageUrl=['https://media.brstatic.com/2017/04/06171330/ed-sheeran-networth-mst.jpg','https://static.cinemagia.ro/img/db/actor/56/48/69/ariana-grande-826821l.jpg'
          'https://3.bp.blogspot.com/-qDfAM31MRnM/V_iBA1VZJlI/AAAAAAAAEhA/GKloBO7Bkx47O7c-vY3cD09E1-7iA2aHwCLcB/s1600/arijit-singh.jpg','https://specials-images.forbesimg.com/imageserve/1164343505/960x0.jpg?fit=scale',
          'https://th.bing.com/th/id/OIP.g3UUJOoDAKEpbv2pFqvEqwHaEK?pid=ImgDet&rs=1']

In [30]:
ImageUrl=['https://media.brstatic.com/2017/04/06171330/ed-sheeran-networth-mst.jpg','https://static.cinemagia.ro/img/db/actor/56/48/69/ariana-grande-826821l.jpg',
          'https://3.bp.blogspot.com/-qDfAM31MRnM/V_iBA1VZJlI/AAAAAAAAEhA/GKloBO7Bkx47O7c-vY3cD09E1-7iA2aHwCLcB/s1600/arijit-singh.jpg','https://specials-images.forbesimg.com/imageserve/1164343505/960x0.jpg?fit=scale',
          'https://th.bing.com/th/id/OIP.g3UUJOoDAKEpbv2pFqvEqwHaEK?pid=ImgDet&rs=1']
df2['Image_Url']=ImageUrl

ValueError: Length of values (4) does not match length of index (5)